/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
resources/views/public/.DS_Store
resources/views/.DS_Store
resources/.DS_Store
public/assets/public/styles/.DS_Store
public/assets/public/.DS_Store
public/assets/.DS_Store
public/.DS_Store
.DS_Store
